  
.jumbotron {
	background-color: steelblue;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border: 5px dotted black;
	text-shadow: 2px 1px red;
	font-weight:800;

  }
  
  #movieButtons {
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }